# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
.Python

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Python tools
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Editor-specific files
*.vscode/
.idea/
.DS_Store

# OS-specific files
Thumbs.db

# Logs
*.log

# SQLite database
*.db

# Excel exports
*.xlsx

# Configurations and environment
*.env
